#wrapper{
    position: relative;
    border: 1px solid black;
    height: 800px;
    width: 800px;
    background-size:cover;
    background-image: url('assets/water.png');
    
    /* background-color: aqua; */
}
#game{
    position:absolute;
    border: 1px solid blue;
    background-size:cover;
    background-image: url('assets/background.png')
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}
#startButton {
    position: fixed;
    top: 28vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    background-color: #bbff00;
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }
  